/*
colors:

red-purple: C3176B
red: EC3844
orange: FC8821
yellow: FFD900
purple: 57026A

*/

#join-now {
	color: white;
}

textarea {
	height: 200px;
	width: 350px;
}

#footer {
	font-size: 10px;
}

a, .dropdown-menu a {
	color: #C3176B;
}

a:hover, .dropdown-menu a:hover {
	color: #EC3844;
}

a:visited, .dropdown-menu a:visited {
	color: #FC8821;
}

#content {
	margin-top: 70px;
	
}

.post {
	margin-bottom: 25px;
}

.postHeader a {
	color: black;
	text-decoration: none;
}

.postHeader{
	height: 30px;
}

.postContent {
	margin-left: 10px;
	padding-top: 5px;
	padding-left: 5px;
	border-left: 2px solid #57026A;
}

.mainHeader {
	margin-top: 40px;
}

#invite_Submit, #newgroup_Submit {
	margin-top: -9px;
}

#leaveGroup_Submit, .memberListItem {
	margin-top: 10px;
}

.postContent img {
	display: block;
	margin-bottom: 10px;
}